# Ignore node_modules directory
node_modules

# Ignore PNPM store
.pnpm-store

# Ignore PNPM package-lock.json
pnpm-lock.yaml

# Ignore development and test-related files
Dockerfile.dev
*.spec.js
*.test.js
*.spec.ts
*.test.ts

# Ignore version control system files
.git
.gitignore

# Ignore any editor-specific files and directories
.vscode/
.idea/

# Ignore text editor backup/swap files
*~
*.swp
*.swo
*.swn

# Ignore build artifacts
build/
dist/
coverage/

# Ignore environment-specific files
.env

# Ignore PNPM specific files
.pnpm-debug.log
.pnpm

# Ignore Vite's build output
vite-plugin-react/dist
